<nav class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <ul class="centered-navigation-menu">
      <li class="nav-link logo">
        <a href="javascript:void(0)" class="logo">
          <img src="/static/images/sbtg.png" alt="Logo image">
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <header>
    <h1 class="brand">Drunkards & Flagons</h1>
    <section class="images">
    	<img src="static/images/elf.png" alt="">
    </section>
  </header>
</div>

<div class="content-wrapper">
  <section class="codex">
    <div class="container">
    	<div class="list-container">
	      <ul class="monster-list">
	      </ul>
    	</div>
        <div class="monster">
      		<div class="card">
            <div class="card-header">
              <div class="type">
                <img class="type" src="static/images/humanoid.png" alt="">
              </div>
              <h4>Goblin</h4>
              <div class="rating">
                <img src="static/images/crossbones.png" alt="">
                <span>1</span>
              </div>
            </div>
            <div class="description">
              <p>If players are having a tough time dealing with a 
              group of Goblins, they're either drunk or bad at rolling.</p>
            </div>
            <div class="hint">
              <p>Goblins are pretty weak but obnoxious, and
              can be formidable in numbers. They're usually
              pretty gross, too.</p>
            </div>
            <div class="stats">
              <div class="talents">
                <h6>Sample Talents</h6>
                <ul>
                  <li>Thievery</li>
                  <li>Taunts</li>
                  <li>Foul Odor</li>
                </ul>
              </div>
              <ul class="adjustments">
                <h6>Stat Adjustments</h6>
                <li><p>+1</p></li>
                <li><p>/</p></li>
                <li><p>+1</p></li>
                <li><p>/</p></li>
              </ul>
            </div>
      		</div>
      		<div class="portrait">
      		</div>
        </div>
    </div>
  </section>
</div>

<script type="text/template" id="item-template">
  <a href="/"><%- Name %></a>
</script>