<nav class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <ul class="centered-navigation-menu">
      <li class="nav-link logo">
        <a href="javascript:void(0)" class="logo">
          <img src="/static/images/sbtg.png" alt="Logo image">
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <header>
    <h1 class="brand">Drunkards & Flagons</h1>
    <section class="images">
    	<img src="static/images/elf.png" alt="">
    </section>
  </header>
</div>

<div class="content-wrapper">
  <section class="codex">
    <div class="container">
    	<div class="list-container">
	      <ul class="monster-list">
	      </ul>
    	</div>
        <div class="monster">
        </div>
    </div>
  </section>
</div>

<script type="text/template" id="item-template">
  <a class="monster-name" href="#" data-id="<%- Id %>"><%- Name %></a>
</script>

<script type="text/template" id="monster-template">
<div class="card">
  <div class="card-header">
    <div class="types">
      <% for(var i=0; i<Keywords.Slice.length; i++) {%>
        <img class="type" src="http://s3.amazonaws.com/sbtg/monster-icons/<%- Keywords.Slice[i].toLowerCase() %>.png" alt="">
      <% } %>
    </div>
    <p><%- Name %></p>
    <div class="rating">
      <img src="static/images/crossbones.png" alt="">
      <span><%- Strikes %></span>
    </div>
  </div>
  <div class="description">
    <p><%- Description %></p>
  </div>
  <div class="hint">
    <p><%- Hint %></p>
  </div>
  <div class="stats">
    <div class="talents">
      <h6>Sample Talents</h6>
      <ul id="talent-list">
      <% for(var i=0; i<Talents.Slice.length; i++) {%>
        <li><%= Talents.Slice[i] %></li>
      <% } %>
      </ul>
    </div>
    <ul class="adjustments">
      <h6>Stat Adjustments</h6>
      <li class="power">
        <p>
          <% if ( Power == 0 ) { %> / <%} else { %> <%- Power %> <% } %>
        </p>
      </li>
      <li class="charisma">
        <p>
          <% if ( Charisma == 0 ) { %> / <%} else { %> <%- Charisma %> <% } %>
        </p>
      </li>
      <li class="intelligence">
        <p>
          <% if ( Intelligence == 0 ) { %> / <%} else { %> <%- Intelligence %> <% } %>
        </p>
      </li>
      <li class="finesse">
        <p>
          <% if ( Finesse == 0 ) { %> / <%} else { %> <%- Finesse %> <% } %>
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="portrait">
  <div class="frame">
    <img src="static/images/frame.png" alt="">
    <div class="image">
      <img src="<%- Image %>" alt="<%- Name %>">
    </div>
  </div>
</div>
</script>