<nav class="sbtg">
	<div class="navigation-wrapper">
		<a href="javascript:void(0)" class="logo">
			<img src="static/images/sbtg.png" alt="Strange But True Games">
		</a>
	</div>
</nav>

<div class="container">
  <header>
    <h1 class="brand">Drunkards & Flagons</h1>
    <section class="images">
    	<img src="static/images/elf.png">
    </section>
  </header>
</div>

<div class="content-wrapper">
  <section class="codex">
    <div class="container">
    	<div class="list-container">
	      <ul class="monster-list">
	      	{{range .Monsters}}
	      		<li><a href="/">{{.Name}}</a></li>
      		{{else}}
      			<p>There are no monsters yet</p>
  			{{end}}
	      </ul>
      	</div>
  		<div class="card">
  		</div>
  		<div class="portrait">
  		</div>
    </div>
  </section>
</div>